$white: #FFFFFF;
$black: #18191D;
$black-light: rgba(24, 25, 29, 0.87);
$purple: #EDEAFA;
$grey-light: #F7F6FB;
$blue: #0A5EE6;

$side-gap: 25px;

$tablet: 768px;
$desktop: 1424px;


$max-width: 1220px;
