
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  color: $black;
  background-color: $white;
}

body {
  width: 100%;
  overflow-x: hidden;
}

img {
  vertical-align: text-bottom;
  line-height: 0;
}

p {
  font-size: 18px;
  line-height: 28px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Urbanist', sans-serif;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-weight: 700;
  color: $black;
}

h1, .h1 {
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 140%;

  @include mq($min-width: $desktop) {
    font-size: 48px;
    line-height: 67px;  
  }
}

h2, .h2 {
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 120%;

  @include mq($min-width: $desktop) {
    font-size: 48px;
    line-height: 67px;  
  }
}

h3, .h3 {
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 140%;

  @include mq($min-width: $desktop) {
    font-size: 40px;
    line-height: 56px;  
  }
}

h4, h5, h6, .h4, .h5, .h6 {
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 120%; 
}